<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <title>HealthChecker Connection {{status}}</title>
    <style>
        body {
            font-family: Calibri Light, Helvetica, Arial, sans-serif;
            font-size: 11pt;
        }
    </style>
</head>

<body>
<p>
    Hello,
</p>
<p>
    Connection <code>{{status}}</code>:
</p>
<table>
    <tr><td>Host</td><td><code>{{host}}</code></td></tr>
    <tr><td>Ping Start</td><td><code>{{begin}}</code></td></tr>
    <tr><td>Ping Response</td><td><code>{{end}}</code></td></tr>
    <tr><td>Http Status</td><td><code>{{httpStatus}}</code></td></tr>
    <tr><td>Last success</td><td><code>{{lastSuccess}}</code></td></tr>
</table>
<p>
    Message:
</p>
<p style="border: solid 1px black; padding: 10px">
    <code>{{message}}</code>
</p>
<p>
    Regards,
</p>
<p>
    <b>RadixHomeWork</b> | HealthChecker<br/>
    <a href="mailto:radixhomework@outlook.com">radixhomework@outlook.com</a><br/>
    <a href="https://github.com/radixhomework/healthchecker">https://github.com/radixhomework/healthchecker</a>
</p>
</body>
</html>